<!DOCTYPE html>
<html>
  <head>
    <title>小資女愛記帳</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">回首頁</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <button type="submit" class="btn btn-success">新增消費</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container move_container">
      <!-- Example row of columns -->
      <h2>新增消費</h2>
      <br>
      <form method="post" action="/accounts/<%= account.id %>/update">
        <!--action處理路徑來自routes資料夾的accounts.js設定：
          router.get('/create', function(req, res, next){ } -->
        <input class="form-control" type="text" name="title" value="<%= account.title %>">
        <select class="form-control" name="type">
          <option value="">請選擇類別</option>
          <option <%= account.type === 'food' ? 'selected':'' %>value="food">美食</option>
          <option <%= account.type === 'necessities' ? 'selected':'' %> value="necessities">生活用品</option>
          <option <%= account.type === 'rent' ? 'selected':'' %> value="rent">房租</option>
          <option <%= account.type === 'traffic' ? 'selected':'' %> value="traffic">交通</option>
          <option <%= account.type === 'play' ? 'selected':'' %> value="play">娛樂</option>
        </select>
        <input class="form-control" type="number" name="cost" value="<%= account.cost %>">
        <button class="btn btn-primary btn-block">送出資料</button>
      </form>
   
	<hr>
	<footer>
	<p>&copy; 2019 小資女記帳</p>
	</footer>
	</div> <!-- /container -->

  </body>
</html>
